gradio>=4.0.0
langchain-pinecone==0.1.0
langchain-huggingface==0.0.6
langchain-core==0.1.0
langchain-openai==0.0.5
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
flask==2.3.3
rank_bm25
transformers
torch
numpy
scikit-learn 